// Base color palette (TK)
$C_white: rgb(255,255,255);
$C_darkGray: rgb(53,62,72);
$C_mediumGray: rgb(230,233,236);
$C_lightGray: rgb(243,246,249);
$C_red: rgb(213,87,65);
$C_green: rgb(140,191,106);
$C_blue: rgb(57,135,203);
$C_lightBlue: rgb(104,165,217);
$C_purple: rgb(113,96,170);
$C_brown: rgb(113,63,25);
 
// UI Colors (TK)
$C_accent: rgb(213,87,65);
$C_link: rgb(57,135,203);
 
// EXTERNAL (third party colors)
$C_facebook: rgb(59,89,152);
$C_twitter: rgb(51,204,255);
$C_linkedin: rgb(72,117,180);
$C_tumblr: rgb(43,73,100);
$C_flickr: rgb(254,8,131);
$C_foursquare: rgb(12,186,223);
$C_googleplus: rgb(198,61,45);
$C_instagram: rgb(78,67,60);
$C_reddit: rgb(206,227,248);
$C_wepay: rgb(72,145,220);
 