// Base color palette ()
$C_white: rgb(255,255,255);
$C_darkGray: rgb(170,0,255);
$C_mediumGray: rgb(0,170,255);
$C_lightGray: rgb(170,255,0);
$C_red: rgb(255,0,170);
$C_green: rgb(170,255,0);
$C_blue: rgb(0,170,255);
$C_lightBlue: rgb(0,170,255);
$C_purple: rgb(170,0,255);
$C_brown: rgb(170,255,0);
$C_yellow: rgb(255,170,0);
 
// Text colors ()
$C_textPrimary: rgb(255,0,170);
$C_textSecondary: rgb(255,170,0);
$C_textTertiary: rgb(170,255,0);
$C_textPrimaryInverted: rgb(0,170,255);
$C_textSecondaryInverted: rgb(170,255,0);
$C_textTertiaryInverted: rgb(255,170,0);
 
// UI Colors ()
$C_accent: rgb(255,0,170);
$C_link: rgb(0,170,255);
$C_border: rgb(170,255,0);
$C_borderInverted: rgb(0,170,255);
$C_overlayPressed: rgb(255,170,0);
$C_modalShade: rgba(0,0,0,0.75);
@mixin color_modalShade($style: 'color') { #{$style}: lighten( rgb(0,0,0), 25%); #{$style}: $C_modalShade; }
$C_shade: rgba(0,0,0,0.05);
@mixin color_shade($style: 'color') { #{$style}: lighten( rgb(0,0,0), 95%); #{$style}: $C_shade; }
$C_shadeInverted: rgba(255,255,255,0.1);
@mixin color_shadeInverted($style: 'color') { #{$style}: darken( rgb(255,255,255), 90%); #{$style}: $C_shadeInverted; }
$C_textProtection: rgba(0,0,0,0.05);
@mixin color_textProtection($style: 'color') { #{$style}: lighten( rgb(0,0,0), 95%); #{$style}: $C_textProtection; }
 
// Background colors ()
$C_contentBG: rgb(255,255,255);
$C_contentBGInverted: rgb(170,0,255);
$C_collectionBGDark: rgb(170,0,255);
$C_collectionBGLight: rgb(243,246,249);
 
// EXTERNAL (third party colors)
$C_facebook: rgb(59,89,152);
$C_twitter: rgb(51,204,255);
$C_linkedin: rgb(72,117,180);
$C_tumblr: rgb(43,73,100);
$C_flickr: rgb(254,8,131);
$C_foursquare: rgb(12,186,223);
$C_googleplus: rgb(198,61,45);
$C_instagram: rgb(78,67,60);
$C_reddit: rgb(206,227,248);
$C_wepay: rgb(72,145,220);
$C_yahoo: rgb(123,0,153);
 