// Base color palette ()
$C_white: rgb(255,255,255);
$C_darkGray: rgb(53,62,72);
$C_mediumGray: rgb(117,117,117);
$C_lightGray: rgb(250,250,250);
$C_red: rgb(237,28,64);
$C_purple: rgb(55,30,172);
$C_blue: rgb(77,209,237);
$C_lightPurple: rgb(31,36,204);
$C_orange: rgb(255,145,26);
$C_teal: rgb(33,232,178);
$C_black: rgb(15,23,33);
 
// Text colors ()
$C_textPrimary: rgba(0,0,0,0.87);
@mixin color_textPrimary($style: 'color') { #{$style}: lighten( rgb(0,0,0), 13%); #{$style}: $C_textPrimary; }
$C_textSecondary: rgba(0,0,0,0.54);
@mixin color_textSecondary($style: 'color') { #{$style}: lighten( rgb(0,0,0), 46%); #{$style}: $C_textSecondary; }
$C_textTertiary: rgba(0,0,0,0.26);
@mixin color_textTertiary($style: 'color') { #{$style}: lighten( rgb(0,0,0), 74%); #{$style}: $C_textTertiary; }
$C_textHint: rgba(0,0,0,0.26);
@mixin color_textHint($style: 'color') { #{$style}: lighten( rgb(0,0,0), 74%); #{$style}: $C_textHint; }
$C_textDisabled: rgba(0,0,0,0.12);
@mixin color_textDisabled($style: 'color') { #{$style}: lighten( rgb(0,0,0), 88%); #{$style}: $C_textDisabled; }
$C_textPrimaryInverted: rgb(255,255,255);
$C_textSecondaryInverted: rgba(255,255,255,0.7);
@mixin color_textSecondaryInverted($style: 'color') { #{$style}: darken( rgb(255,255,255), 30%); #{$style}: $C_textSecondaryInverted; }
$C_textTertiaryInverted: rgba(255,255,255,0.3);
@mixin color_textTertiaryInverted($style: 'color') { #{$style}: darken( rgb(255,255,255), 70%); #{$style}: $C_textTertiaryInverted; }
$C_textHintInverted: rgba(255,255,255,0.3);
@mixin color_textHintInverted($style: 'color') { #{$style}: darken( rgb(255,255,255), 70%); #{$style}: $C_textHintInverted; }
$C_textDisabledInverted: rgba(255,255,255,0.12);
@mixin color_textDisabledInverted($style: 'color') { #{$style}: darken( rgb(255,255,255), 88%); #{$style}: $C_textDisabledInverted; }
 
// UI Colors ()
$C_accent: rgb(237,28,64);
$C_link: rgb(31,36,204);
$C_linkApps: rgb(237,28,64);
$C_linkInverted: rgb(77,209,237);
$C_button: rgb(237,28,64);
$C_statusBar: rgb(45,25,139);
$C_border: rgba(0,0,0,0.12);
@mixin color_border($style: 'color') { #{$style}: lighten( rgb(0,0,0), 88%); #{$style}: $C_border; }
$C_borderDark: rgba(0,0,0,0.54);
@mixin color_borderDark($style: 'color') { #{$style}: lighten( rgb(0,0,0), 46%); #{$style}: $C_borderDark; }
$C_borderInverted: rgba(255,255,255,0.2);
@mixin color_borderInverted($style: 'color') { #{$style}: darken( rgb(255,255,255), 80%); #{$style}: $C_borderInverted; }
$C_borderDarkInverted: rgba(255,255,255,0.7);
@mixin color_borderDarkInverted($style: 'color') { #{$style}: darken( rgb(255,255,255), 30%); #{$style}: $C_borderDarkInverted; }
$C_separator: rgba(0,0,0,0.26);
@mixin color_separator($style: 'color') { #{$style}: lighten( rgb(0,0,0), 74%); #{$style}: $C_separator; }
$C_success: rgb(33,232,178);
$C_attention: rgb(255,145,26);
$C_highlight: rgba(0,0,255,0.05);
@mixin color_highlight($style: 'color') { #{$style}: lighten( rgb(0,0,255), 95%); #{$style}: $C_highlight; }
$C_selection: rgba(0,0,0,0.05);
@mixin color_selection($style: 'color') { #{$style}: lighten( rgb(0,0,0), 95%); #{$style}: $C_selection; }
$C_dropShadowOpaque: rgb(117,117,117);
$C_dimmingOverlay: rgba(0,0,0,0.4);
@mixin color_dimmingOverlay($style: 'color') { #{$style}: lighten( rgb(0,0,0), 60%); #{$style}: $C_dimmingOverlay; }
 
// Background colors ()
$C_contentBG: rgb(255,255,255);
$C_contentBGInverted: rgb(15,23,33);
$C_collectionBG: rgb(250,250,250);
 
// EXTERNAL (third party colors)
$C_facebook: rgb(59,89,152);
$C_twitter: rgb(51,204,255);
$C_linkedin: rgb(72,117,180);
$C_tumblr: rgb(43,73,100);
$C_flickr: rgb(254,8,131);
$C_foursquare: rgb(12,186,223);
$C_googleplus: rgb(198,61,45);
$C_instagram: rgb(78,67,60);
$C_reddit: rgb(206,227,248);
$C_wepay: rgb(72,145,220);
$C_yahoo: rgb(123,0,153);
$C_outlook: rgb(0,114,198);
 